.cabecalho a{
    text-decoration: none;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
    height: auto;
    background-color: rgba(255, 0, 0, 0.767);
}
.logo_pokemon {
    width: 30%;
}
.titulo_do_site{
    color: black;
    display: flex;
    flex: 1;
    font-family: 'Oxanium', cursive;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}